#entire {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-content {
  width: 100%;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 10px;
}

#tasks div{
  margin: 10px;
  background-color: thistle;
  width: 300px;
  text-align: center;
}
